/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
  @import "compass";

.clearfix {
    zoom: 1;

    &:before, &:after {
        content: "";
        display: table;
    }
    
    &:after {
        clear: both;
    }
}

// new colors
$darkblue:#55626f;
$lightblue:#4ecdc4;
$green:#c7f464;
$lightred:#ff6b6b;
$darkred:#ff6b6b;

/***** SITE STYLES *************/
/**********************************/
body{
  font-family:Lora, serif;

}

ul{
	list-style:none
}

a{
	text-decoration:none;
	color:white;

}
a:hover{
	color:#79AFAE;
}

img{
	max-width:100%;
	display:block;
	margin:0 auto;
	
	border-radius:3px;
	box-shadow: 2px 2px 5px #5e5c5c;
}


.frequently_used_links{
	a{
		background:$lightblue;
			&:hover{
				background:#2cb0a7;
			}
	}
}
/****** begin mobile sizes  generic ******/

// Begin mobile size styles for all pages beginning with home****


// Generic header styles for mobile *********

header{
	.logo{
		display:block;
		width:50%;
		margin:20px auto;
			img{
				border-radius:none;
				box-shadow:none;
			}
		
	}
	.header_search{
		display:block;
		
		line-height:1.2em;
		// float:left;
		// width:20%;
		text-align:center;
		margin-left:10%;
		margin-right:10%;
	}

	#search{
		-webkit-appearance:none;
		background:white url(../img/search.svg);
		background-repeat: no-repeat;
  		background-position: right center;
  		background-size:34px 21px;
  		padding:11px 34px 11px 11px;
  		height:12px;
  		border-radius:3px;
  		border: 1px solid #999;
  		max-width:200%;
	}
	.add{
		display:inline-block;
		width:25%;
		margin-right:10%;
		border-radius: 3px;
		border:none;
		color:white;
		float:right;
		vertical-align:bottom;
		text-align: center;
		// Needs latest Compass, add '@import "compass"' to your scss
		// Permalink - use to edit and share this gradient:
		// http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss
		background-color: rgb(191,210,85); // Old browsers
		@include filter-gradient(#bfd255, #9ecb2d, vertical); // IE6-9
		@include background-image(linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%));
		padding:10px;	
	}

}
.wrapper{
	width:94%;
	margin:0 auto;
}
.navigation{
	// Needs latest Compass, add '@import "compass"' to your scss
	// Permalink - use to edit and share this gradient:
	// // http://colorzilla.com/gradient-editor/#38566b+5,2c2b4d+100
	// background-color: rgb(56,86,107); // Old browsers
	// @include filter-gradient(#38566b, $darkblue, vertical); // IE6-9
	// @include background-image(linear-gradient(top,  rgba(56,86,107,1) 5%,rgba(44,43,77,1) 100%));
	
	margin-top:20px;
	text-align:center;
	padding:10px;
	border-radius:3px;
		.mobile_nav_button{
			
			font-size:1.5em;
		}
		ul{
			padding-left:0;
		}
		li{

		}
		a{
			padding:3%;
    		display:block;
    		margin-bottom:5px;
    		text-decoration:underline;
    		color:$darkblue;
    		
    		
		}
}

// Begin home page specific mobile *********************

.first_paragraph{
	padding:4%;
	color:white;
	border-radius:3px;
	background: $darkblue;
	padding:4%;
	margin-top:20px;
	line-height:1.8em;
	margin-bottom:20px;
		h2{
			text-align:left;
			color:lightgrey;
			font-style:italic;
			line-height:1.5em;
		}
		.about_us_image{
			// display:none;
		}
}


// .pullout_quotation{
// 	margin-top:20px;
// 	margin-bottom:20px;
// 	color:white;
// 	padding: 8%;
//     background: #acadaf url(../img/open_quotation.svg);
//     background-repeat: no-repeat;
//     background-position: 0px 29px;
//     background-size: 54px 46px;
//     border-radius:3px;

// }

.pullout_quotation{
	color:white;
}

.important_links{
	background:$darkblue;
	padding:4%;
	margin-bottom:20px;
	border-radius:3px;
	color:white;

	.links{
		display:block;
		width:100%;



		a{
			display:block;
			text-align:center;
			padding:20px;
			// Needs latest Compass, add '@import "compass"' to your scss
			// Permalink - use to edit and share this gradient:
			// http://colorzilla.com/gradient-editor/#8fc400+0,398900+100
			// Needs latest Compass, add '@import "compass"' to your scss
			// Permalink - use to edit and share this gradient:
			// // http://colorzilla.com/gradient-editor/#79afae+4,588680+100
			// background-color: rgb(121,175,174); // Old browsers
			// @include filter-gradient(#79afae, #588680, vertical); // IE6-9
			// @include background-image(linear-gradient(top,  rgba(121,175,174,1) 4%,rgba(88,134,128,1) 100%));
			background:$lightblue;
				&:hover{
					background:#41b0a8;
					color:$darkblue;
				}



		}
			a:first-child{
				margin-bottom:15px;
			}
	}

}

.secondary_links{
	ul{
		padding-left:0;
		margin-top:0;
	}
	li{
		margin-top:0px;
		text-align:center;
		
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
	li:first-child{
		// margin-top:10px;
		border-radius:3px 3px 0px 0px;
		border: 1px solid black;

	}
	li:last-child{
		border-radius:0px 0px 3px 3px;
	}
	a{
		color: black;
    	padding: 20px 50px;
    	display: block;

	}
}

.second_nav_image{
	display:none;
}

.stay_informed{
	background-color: $darkblue;
	color:white;
	padding: 2% 4% 8% 4%;
	border-radius:3px;
		input{
			color:black;
			margin:0 auto;
			width:80%;

		}
}
.resources{

	ul{
		padding-left:0;
		margin-top:0;
	}
	li{
		
		margin-top:0px;
		text-align:center;
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
	li:first-child{
		
		border-radius:3px 3px 0px 0px;
		border: 1px solid black;

	}
	li:last-child{
		border-radius:0px 0px 3px 3px;
	}
	a{
		color: black;
    	padding: 20px 50px;
    	display: block;

	}
}


.headlines{
	margin-bottom:40px;
	
		ul{
			padding-left:0;
		}

		h3{
			border-bottom:2px solid black;
			font-weight:bolder;
		}
		h5{
			font-weight:light;
			font-style:italic;
			font-size:.75em;
		}
		
		a{
			color:$lightblue;
			
			font-weight:bolder;
			
			margin-left:3%;
			text-decoration:underline;
				&:hover{
					color:#41b0a8;
				}
		}
}
// End of home page mobile*****************
// Begin Fathers and Families Mobile*******
.main_content{
		h3{
			border-bottom:2px solid black;
		}
		img{
			display:none;
		}
}
.fathersandfamiliesresources{
	background-color:#e6e7e8;
	padding:4%;
	border-radius:3px;
		h2{
			border-bottom:2px solid black;
		}
		ul{
			padding-left:0;
		}
		li{
			margin:0 auto;
			display:block;
			max-width:100%;
			text-align:center;

		}
}
// End of Fathers and Families Mobile*****************
// Begin Fatherhood Programs Mobile*******
.trophy{
	display:none;
}

.topics{
	background-color:#e6e7e8;
	border-radius:3px;
	padding:4%;
	margin: 30px auto;
		h3{
			border-bottom:2px solid black;
		}
		ul{
			margin:0 auto;
			line-height:1.8em;
		}
}
.success_stories{
	background-color:#e6e7e8;
	border-radius:3px;
	padding:4%;
	color:black;
		img{
			display:none;
		}
		h2{
			border-bottom:2px solid black;
		}
		ul{
			padding-left:0;
		}
		a{
			color:black;
			text-decoration:underline;
		}
}
.resource_links{
	margin-top:40px;
	border:2px solid black;
	border-radius:3px;
	padding:4%;
		h2{
			margin-top:0;
		}
		a{
			color:$darkblue;
			text-decoration:underline;
		}

}


.fatherhood_programs_resources{
		img{
			display:none;
		}
}


.find_a_program{
	background-color:#e6e7e8;
	border-radius:3px;
	padding:4%;
	margin-top:40px;
	margin-bottom:20px;
	color:black;
	text-align:center;
		
		.search_box{
			// background-color:$darkblue;
			// padding:4%;
			color:black;
		}
		select{
			width:80%;
			margin:0 auto;
		}
}
.frequently_used_links{

			margin-bottom:20px;
		
}
.links{

    float: left;   
    width: 32%;
    margin: 10px auto;
    margin-right: 2%;

	&:last-child{
		margin-right:0;
	}

	a{ 
		display: block;
    	border-radius:3px;
    	padding: 20px 5%;
    	text-align: center;
    	font-size: 0.9em;
    	color: white;
    	background-color: $lightblue;
	}
}
// ****** Begin individual styles for fathers and families mobile page
.fatherhood_programs_resources{
		img{
			display:none;
		}
}
// ****** Donate styles
.donation_box_choice{
	ul{
		padding-left:0;
	}

	li{
		width: 48%;
		margin: 0 1%;
		float: left;
	}
	.other{
		clear: both;
		color:white;
		// Needs latest Compass, add '@import "compass"' to your scss
		// Permalink - use to edit and share this gradient:
		// http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss
		// Needs latest Compass, add '@import "compass"' to your scss
		// Permalink - use to edit and share this gradient:
		// http://colorzilla.com/gradient-editor/#79afae+4,588680+100
		background-color: #2cb0a7;
			&:hover{
				// Needs latest Compass, add '@import "compass"' to your scss
				// Permalink - use to edit and share this gradient:
				// http://colorzilla.com/gradient-editor/#588680+1,79afae+98
				background-color: $lightblue; // Old browsers
				
			}

		display:block;
		text-align:center;
		padding: 12px 20px;
		margin: 0 1% 8px 1%;
		font-weight:bolder;
		font-size:1.2em;

		h3{
			margin: 0;
		}

		input{
			color:black;
			margin:0 auto;
			width:75%;
		}
	}
	a{
		border-radius:3px;
		color:white;
		background-color:#2cb0a7; //darker shade of light blue
		// Needs latest Compass, add '@import "compass"' to your scss
		// Permalink - use to edit and share this gradient:
		// http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss
		// Needs latest Compass, add '@import "compass"' to your scss
		// Permalink - use to edit and share this gradient:
		// http://colorzilla.com/gradient-editor/#79afae+4,588680+100
		// background-color: rgb(121,175,174); // Old browsers
		// @include filter-gradient(#79afae, #588680, vertical); // IE6-9
		// @include background-image(linear-gradient(top,  rgba(121,175,174,1) 4%,rgba(88,134,128,1) 100%));
		// 	&:hover{
				// Needs latest Compass, add '@import "compass"' to your scss
				// Permalink - use to edit and share this gradient:
				// http://colorzilla.com/gradient-editor/#588680+1,79afae+98
			// 	background-color: rgb(88,134,128); // Old browsers
			// 	@include filter-gradient(#588680, #79afae, vertical); // IE6-9
			// 	@include background-image(linear-gradient(top,  rgba(88,134,128,1) 1%,rgba(121,175,174,1) 98%));

			// }

		display:block;
		text-align:center;
		padding: 12px 20px;
		margin-bottom:8px;
		font-weight:bolder;
		font-size:1.2em;
			&:hover{
				background-color:$lightblue;
			}
	}
}
.container{
	line-height:2em;
		input{
			width:90%;
			margin:0 auto;
		}
}
.btn{
	background-color:#2cb0a7;
	padding:10px 5%;
	color:white;
	font-weight:bolder;
	border-radius:3px;
	border:none;
	-webkit-appearance: none;
		&:hover{
			background:$lightblue;
		}
}
.donate_content{
	background:#f1f1f1;
	padding:4%;
	border-radius:3px;
	margin:30px auto;
}

// Footer ********************* 

footer{
	background-color: $darkblue;
	padding:6%;
	padding-bottom:10px;
	color:white;
	line-height:1.8em;
	font-size:.8em;
		ul{
			padding-left:0;
			text-align:left;
			margin-top:0;
		}
		.left{
			font-size:.8em;
			
			p{
				font-weight:bolder;
				font-size:1.5em;
				margin-bottom:5px;
				margin-top:0;
			}
			a{
				text-decoration:underline;
			}
			
		}
		.address{
			font-size:1em;
			margin-top:40px;
		}
		.social_media {
				li{
			float:left;
			width:10%;
			margin-right:7%;
			}
		}
		.right{
			font-weight:bolder;
			font-size:1.2em;
			line-height:2em;
			text-decoration:underline;
			margin-top:0;
			li{
				text-align:left;
			}


		}
		img{
			max-width:35px;
			box-shadow:none;
		}
}



@media screen and (min-width:700px){
	
	// ***** begin generic styling for large sizes head
	header{
		margin-bottom:40px;
	}
	.navigation .mobile_nav_button{
			display: none;
		}
	header{
		width:90%;
		margin:0 auto;

		.logo{
			float:left;
			width:33%;
			// max-height:30px;
			padding-top:5px;
		}
		.header_search{
			float:right;
			
			margin:40px auto 20px auto;
		}
		.add{
			float:right;
			width:20%;
			
			
		}

	}

	.navigation{

		background:none;
		margin-top:0;
		padding:0;
		border:1px solid $darkblue;

		li{
			background:none;
			display:inline-block;
			border-right:1px solid $darkblue;
			border-bottom:none;
			width: 16%;
			&:last-child{
				border-right:none;
			}
		}
			
		a{
			background-color:white;
			color:$darkblue;
			padding:2%;
			margin-bottom:0;
			text-decoration:none;

			
			
			&:hover{
				color: $lightblue;
			}
		}
		.add{
			background-color:$green;
			border-radius:3px;
			border:1px solid #97b751;
				&:hover{
					background-color:#97b751;
					color:white;
				}
		}
	}
	
	

	footer{
		display:block;
		.left{
			float:left;
			width:30%;
			margin-right:8%;
		}
		.address{
			float:left;
			margin-top:0;
			width:35%;
		}
		.right{
			
			
			ul{
				margin-top:5px;
				float:left;
				width:20%;
			}
			li{
				text-align:right;
			}
			.social_media li{
				float:right;
				width:30%;
				float:right;
			}
		}
	}


	// ************ begin tablet size home specific
	.about_us{
		margin-bottom:30px;
		
	}
	.pullout_quotation{
		    float: left;
    		width: 50%;
    		font-size:1.1em;
	}
	.about_us_text{	
		h2{
			font-size:2em;
			line-spacing:1em;
			margin-bottom:10px;
			margin-bottom:40px;
		}
		h3{
			margin-top:0;
		}
		
		.about_us_image{
			display:block;
			float:right;
			width:45%;
			margin-left:3%;
			
		}
	}
	

	.important_links{
		display:block;
		
		.links{
			float:right;
			width:48%;
			margin-top:0;
				a{
			
				margin:0px auto 20px auto;
			}

		}
		.definitions{
			float:left;
			width:48%;
				p{
					color:white;
					line-height:1.5em;
					&:first-child{
						margin-top:0;
					}
				}
		}
		
	}
	.secondary_links{
		background:#f1f1f1;
		padding:4%;
		border-radius:3px;
		margin-bottom:20px;

		.navigation_large{
			
			float:left;
			width:48%;
			
			li{
				margin-bottom:8px;
				border:none;
			}
			a{
				background:$lightblue;
				padding:7%;
				color:white;
				
				display:block;
				
				border-radius:3px;
			}
		}
		.second_nav_image{
			
			float:right;
			width:48%;
			display:block;
		}
	}

	.stay_informed{
		float:left;
		width:40%;
	}

	.resources_index{

		background:#f1f1f1;
		padding:4%;
		border-radius:3px;
		float:left;
		width:41%;
		margin-right:2%;
		
		h3{
			margin-top:0;
		}
		
		.resources_links{
			
			li{
				border:none;
				margin-bottom:8px;
			}
			a{
				display:block;
				background:$lightblue;
				border-radius:3px;
				color:white;
				font-weight:bolder;

			}
		}
	}

	.headlines{
		width:48%;
		float:right;
			h3{
				margin-top:0;
			}
	}

	// ******** begin fathers and families specific styles
	.fathersandfamilies{
		h2{
			text-align:left;
		}
	}

	.main_content{
		background:#f1f1f1;
		padding:3%;
		border-radius:3px;
		border:none;
		margin-top:20px;
		margin-bottom:20px;
		
		h3{
			border-bottom:none;
		}
		
		img{
			display:block;
			float:right;
			width:30%;
			margin-left:3%;
			margin-bottom:10px;
		}
	}


	.resource_links{

		a:hover{
			color:$lightblue;
		}
		.resource_tablet{
			padding:0;
			margin-right:8%;

			
			&:last-child{
				margin-right:0;
			}
		}
	}

	.frequently_used_links{
		
		margin-top:35px;
		
		.links{
			display:block;
			width:48%;
		}
	}
	.resource_tablet{

	}
	// ***** begin fatherhood programs tablet
	.fatherhood_programs{
		
		img{
			display:block;
			float:right;
			margin-left:4%;
		}
	}
	.topics_and_map{

		margin-top:30px;
	}
	.topics{

		float:left;
		width:30%;
		ul{
			padding-left:0;
		}
	}
	.map_image{
		float:right;
		width:60%;
	}

	.network{

		margin-top:30px;
	}

	.stories_and_resources{

		background:#f1f1f1;
		border-radius:3px;
	}

	.success_stories{
		
		background:#f1f1f1;
		float:left;
		width:42%;
		margin:0;

		.success_content{
		
			h2{
				margin-top:0;
			}
		}
	}

	.fatherhood_programs_resources{
		
	
		float:right;
		width:42%;
		border:none;

		.resource_links{
		
			border:none;
			margin-top:0;
			background:#a8a8ab;
			padding:3%;
		
			h2{
				text-decoration:underline;
				display:block;
			}
		}

		img{
			display:block;
			float:right;
			margin-bottom:20px;
		}	
	}

	.find_a_program{
		color:white;
		background-color:$lightblue;
		h3{
			color:white;
			margin-top:0;
		}
	}
	// ******** begin styles for donate page tablet
	.donate_text{
		h2{
			margin-top:0;
		}
	}
	.donation_box_choice{
		ul{
			margin-bottom:30px;
		}

		li{
			width: 31%;	
		}

		.other{
			width: 50%;
			margin-right: auto;
			margin-left: auto;
		}
	}
}


@media screen and (min-width:1000px){
	// generic styles at desktop
	.header_search {
	    padding-top:7px;
	}
	.add {
	    
	    // margin-top: 81px;
	    margin-right: 0;
	}

	// ***** begin with index at desktop

	.pullout_quotation{
		// background:white url(../img/open_quotation.svg);
	 //    background-repeat: no-repeat;
	 //    background-position: 15px 78px;
	 //    background-size: 54px 46px;;
		// color:black;
		// font-size:1.2em;
		// font-style:italic;
		// font-weight:light;
	}


	// .stay_informed{
	// 	padding:4%;
	// 	p{
	// 		display:block;
	// 		float:left;
	// 		width:50%;
	// 		margin-right:4%;
	// 		margin-top:0;

	// 	}
	// 	.email_input{
	// 		display:block;
	// 		float:right;
	// 		width:45%;
	// 	}
	// }
	// .important_links{
	// 	a{
	// 		width:39%;
	// 		margin-right:12%;
	// 		&:last-child{
	// 			margin-right:0;
	// 		}
	// 	}
	// }

	// **** begin fatherhood programs at desktop
	.stories_and_resources{
		background:none;
	}
	.success_stories{
		float:none;
		display:block;
		margin:0 auto;
		width:92%;
		
		.success_content li{
			display:inline-block;
			width:45%;
		}
	}
	.resource_links{
		.resource_tablet{
			float:none;
			width:60%;
			// display:block;
		
			&:last-child{
				margin-right:0;
			}
		}
	}

	.welcome_packet, .special_needs{
		float:left;
		width:50%;
	}

	.fatherhood_programs_resources{
		float:none;
		display:block;
		padding:0;
		width:100%;
		margin-top:3%;
		img{
			display:block;
			float:right;
			
		}
	}

		
	// ******** fathers and families

	.resources_img{
		display:block;
		float:right;
		width:30%;
	}

	// *********** donate page adjustments

	.donation_box_choice{
		ul{
			margin-left:3%;
			margin-bottom:30px;
		}
		li{
			width: 14.66661%;
		}
	}
}
