/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 5, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 8, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 13, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 27, ../scss/style.scss */
body {
  font-family: Lora, serif;
}

/* line 32, ../scss/style.scss */
ul {
  list-style: none;
}

/* line 36, ../scss/style.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 41, ../scss/style.scss */
a:hover {
  color: #79AFAE;
}

/* line 45, ../scss/style.scss */
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #5e5c5c;
}

/* line 56, ../scss/style.scss */
.frequently_used_links a {
  background: #4ecdc4;
}
/* line 58, ../scss/style.scss */
.frequently_used_links a:hover {
  background: #2cb0a7;
}

/****** begin mobile sizes  generic ******/
/* line 71, ../scss/style.scss */
header .logo {
  display: block;
  width: 50%;
  margin: 20px auto;
}
/* line 75, ../scss/style.scss */
header .logo img {
  border-radius: none;
  box-shadow: none;
}
/* line 81, ../scss/style.scss */
header .header_search {
  display: block;
  line-height: 1.2em;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
/* line 92, ../scss/style.scss */
header #search {
  -webkit-appearance: none;
  background: white url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 34px 21px;
  padding: 11px 34px 11px 11px;
  height: 12px;
  border-radius: 3px;
  border: 1px solid #999;
  max-width: 200%;
}
/* line 104, ../scss/style.scss */
header .add {
  display: inline-block;
  width: 25%;
  margin-right: 10%;
  border-radius: 3px;
  border: none;
  color: white;
  float: right;
  vertical-align: bottom;
  text-align: center;
  background-color: #bfd255;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBFD255', endColorstr='#FF9ECB2D');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOGViOTJhIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiM3MmFhMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWNiMmQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfd255), color-stop(50%, #8eb92a), color-stop(51%, #72aa00), color-stop(100%, #9ecb2d));
  background-image: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  background-image: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  background-image: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  padding: 10px;
}

/* line 124, ../scss/style.scss */
.wrapper {
  width: 94%;
  margin: 0 auto;
}

/* line 128, ../scss/style.scss */
.navigation {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}
/* line 140, ../scss/style.scss */
.navigation .mobile_nav_button {
  font-size: 1.5em;
}
/* line 144, ../scss/style.scss */
.navigation ul {
  padding-left: 0;
}
/* line 150, ../scss/style.scss */
.navigation a {
  padding: 3%;
  display: block;
  margin-bottom: 5px;
  text-decoration: underline;
  color: #55626f;
}
/* line 158, ../scss/style.scss */
.navigation .add {
  background-color: #c7f464;
  border-radius: 3px;
  padding: 5px 10px;
}

/* line 166, ../scss/style.scss */
.about_us {
  background-image: url("../img/cff_main.svg");
  background-size: cover;
  padding: 4%;
  color: white;
  border-radius: 3px;
  margin-top: 20px;
}
/* line 173, ../scss/style.scss */
.about_us h2 {
  font-size: 1em;
  padding-bottom: 100px;
}

/* line 178, ../scss/style.scss */
.first_paragraph {
  padding: 4%;
  color: white;
  border-radius: 3px;
  background: #55626f;
  padding: 4%;
  margin-top: 20px;
  line-height: 1.8em;
  margin-bottom: 20px;
}
/* line 189, ../scss/style.scss */
.first_paragraph h2 {
  text-align: left;
  color: lightgrey;
  font-style: italic;
  line-height: 1.5em;
}

/* line 215, ../scss/style.scss */
.pullout_quotation {
  color: black;
}

/* line 219, ../scss/style.scss */
.important_links {
  background: #55626f;
  padding: 4%;
  margin-bottom: 20px;
  border-radius: 3px;
  color: white;
}
/* line 226, ../scss/style.scss */
.important_links .links {
  display: block;
  width: 100%;
}
/* line 232, ../scss/style.scss */
.important_links .links a {
  display: block;
  text-align: center;
  padding: 20px;
  background: #4ecdc4;
}
/* line 246, ../scss/style.scss */
.important_links .links a:hover {
  background: #41b0a8;
  color: #55626f;
}
/* line 254, ../scss/style.scss */
.important_links .links a:first-child {
  margin-bottom: 15px;
}

/* line 262, ../scss/style.scss */
.secondary_links ul {
  padding-left: 0;
  margin-top: 0;
}
/* line 266, ../scss/style.scss */
.secondary_links li {
  margin-top: 0px;
  text-align: center;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/* line 274, ../scss/style.scss */
.secondary_links li:first-child {
  border-radius: 3px 3px 0px 0px;
  border: 1px solid black;
}
/* line 280, ../scss/style.scss */
.secondary_links li:last-child {
  border-radius: 0px 0px 3px 3px;
}
/* line 283, ../scss/style.scss */
.secondary_links a {
  color: black;
  padding: 20px 50px;
  display: block;
}

/* line 291, ../scss/style.scss */
.second_nav_image {
  display: none;
}

/* line 295, ../scss/style.scss */
.stay_informed {
  background-color: #55626f;
  color: white;
  padding: 2% 4% 8% 4%;
  border-radius: 3px;
}
/* line 300, ../scss/style.scss */
.stay_informed input {
  color: black;
  margin: 0 auto;
  width: 80%;
}

/* line 309, ../scss/style.scss */
.resources ul {
  padding-left: 0;
  margin-top: 0;
}
/* line 313, ../scss/style.scss */
.resources li {
  margin-top: 0px;
  text-align: center;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/* line 321, ../scss/style.scss */
.resources li:first-child {
  border-radius: 3px 3px 0px 0px;
  border: 1px solid black;
}
/* line 327, ../scss/style.scss */
.resources li:last-child {
  border-radius: 0px 0px 3px 3px;
}
/* line 330, ../scss/style.scss */
.resources a {
  color: black;
  padding: 20px 50px;
  display: block;
}

/* line 339, ../scss/style.scss */
.headlines {
  margin-bottom: 40px;
}
/* line 342, ../scss/style.scss */
.headlines ul {
  padding-left: 0;
}
/* line 346, ../scss/style.scss */
.headlines h3 {
  border-bottom: 2px solid black;
  font-weight: bolder;
}
/* line 350, ../scss/style.scss */
.headlines h5 {
  font-weight: light;
  font-style: italic;
  font-size: .75em;
}
/* line 356, ../scss/style.scss */
.headlines a {
  color: #4ecdc4;
  font-weight: bolder;
  margin-left: 3%;
  text-decoration: underline;
}
/* line 363, ../scss/style.scss */
.headlines a:hover {
  color: #41b0a8;
}

/* line 370, ../scss/style.scss */
.fathersandfamilies {
  padding: 4%;
  border-radius: 3px;
  margin: 20px auto;
  background: #33425B;
  color: white;
}
/* line 378, ../scss/style.scss */
.fathersandfamilies .dadwalking {
  float: right;
  width: 20%;
  margin: 0 0 4% 4%;
}
/* line 382, ../scss/style.scss */
.fathersandfamilies .dadwalking img {
  box-shadow: none;
}

/* line 391, ../scss/style.scss */
.main_content h3 {
  border-bottom: 2px solid black;
}
/* line 394, ../scss/style.scss */
.main_content img {
  display: none;
}

/* line 398, ../scss/style.scss */
.fathersandfamiliesresources {
  background-color: #e6e7e8;
  padding: 4%;
  border-radius: 3px;
}
/* line 402, ../scss/style.scss */
.fathersandfamiliesresources h2 {
  border-bottom: 2px solid black;
}
/* line 405, ../scss/style.scss */
.fathersandfamiliesresources ul {
  padding-left: 0;
}
/* line 408, ../scss/style.scss */
.fathersandfamiliesresources li {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  text-align: center;
}

/* line 418, ../scss/style.scss */
.trophy {
  display: none;
}

/* line 422, ../scss/style.scss */
.topics {
  background-color: #e6e7e8;
  border-radius: 3px;
  padding: 4%;
  margin: 30px auto;
}
/* line 427, ../scss/style.scss */
.topics h3 {
  border-bottom: 2px solid black;
}
/* line 430, ../scss/style.scss */
.topics ul {
  margin: 0 auto;
  line-height: 1.8em;
}

/* line 435, ../scss/style.scss */
.success_stories {
  background-color: #e6e7e8;
  border-radius: 3px;
  padding: 4%;
  color: black;
}
/* line 440, ../scss/style.scss */
.success_stories img {
  display: none;
}
/* line 443, ../scss/style.scss */
.success_stories h2 {
  border-bottom: 2px solid black;
}
/* line 446, ../scss/style.scss */
.success_stories ul {
  padding-left: 0;
}
/* line 449, ../scss/style.scss */
.success_stories a {
  color: black;
  text-decoration: underline;
}

/* line 454, ../scss/style.scss */
.resource_links {
  margin-top: 40px;
  border: 2px solid black;
  border-radius: 3px;
  padding: 4%;
}
/* line 459, ../scss/style.scss */
.resource_links h2 {
  margin-top: 0;
}
/* line 462, ../scss/style.scss */
.resource_links a {
  color: #55626f;
  text-decoration: underline;
}

/* line 471, ../scss/style.scss */
.fatherhood_programs_resources img {
  display: none;
}

/* line 477, ../scss/style.scss */
.find_a_program {
  background-color: #e6e7e8;
  border-radius: 3px;
  padding: 4%;
  margin-top: 40px;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}
/* line 486, ../scss/style.scss */
.find_a_program .search_box {
  color: black;
}
/* line 491, ../scss/style.scss */
.find_a_program select {
  width: 80%;
  margin: 0 auto;
}

/* line 496, ../scss/style.scss */
.frequently_used_links {
  margin-bottom: 20px;
}

/* line 501, ../scss/style.scss */
.links {
  float: left;
  width: 32%;
  margin: 10px auto;
  margin-right: 2%;
}
/* line 508, ../scss/style.scss */
.links:last-child {
  margin-right: 0;
}
/* line 512, ../scss/style.scss */
.links a {
  display: block;
  border-radius: 3px;
  padding: 20px 5%;
  text-align: center;
  font-size: 0.9em;
  color: white;
  background-color: #4ecdc4;
}

/* line 524, ../scss/style.scss */
.fatherhood_programs_resources img {
  display: none;
}

/* line 529, ../scss/style.scss */
.thankyou {
  color: #55626f;
  font-style: italic;
}

/* line 536, ../scss/style.scss */
.donation_box_choice ul {
  padding-left: 0;
}
/* line 540, ../scss/style.scss */
.donation_box_choice li {
  width: 48%;
  margin: 0 1%;
  float: left;
}
/* line 545, ../scss/style.scss */
.donation_box_choice .other {
  clear: both;
  color: white;
  background-color: #2cb0a7;
  display: block;
  text-align: center;
  padding: 12px 20px;
  margin: 0 1% 8px 1%;
  font-weight: bolder;
  font-size: 1.2em;
}
/* line 555, ../scss/style.scss */
.donation_box_choice .other:hover {
  background-color: #4ecdc4;
}
/* line 570, ../scss/style.scss */
.donation_box_choice .other h3 {
  margin: 0;
}
/* line 574, ../scss/style.scss */
.donation_box_choice .other input {
  color: black;
  margin: 0 auto;
  width: 75%;
}
/* line 580, ../scss/style.scss */
.donation_box_choice a {
  border-radius: 3px;
  color: white;
  background-color: #2cb0a7;
  display: block;
  text-align: center;
  padding: 12px 20px;
  margin-bottom: 8px;
  font-weight: bolder;
  font-size: 1.2em;
}
/* line 609, ../scss/style.scss */
.donation_box_choice a:hover {
  background-color: #4ecdc4;
}

/* line 614, ../scss/style.scss */
.container {
  line-height: 2em;
}
/* line 616, ../scss/style.scss */
.container input {
  width: 90%;
  margin: 0 auto;
}

/* line 621, ../scss/style.scss */
.btn {
  background-color: #2cb0a7;
  padding: 10px 5%;
  color: white;
  font-weight: bolder;
  border-radius: 3px;
  border: none;
  -webkit-appearance: none;
}
/* line 629, ../scss/style.scss */
.btn:hover {
  background: #4ecdc4;
}

/* line 633, ../scss/style.scss */
.donate_content {
  background: #f1f1f1;
  padding: 4%;
  border-radius: 3px;
  margin: 30px auto;
}

/* line 639, ../scss/style.scss */
legend {
  font-size: 1.2em;
  font-weight: bolder;
  text-decoration: underline;
  color: lightgrey;
}

/* line 646, ../scss/style.scss */
fieldset {
  background: #55626f;
  color: white;
  border-radius: 3px;
  border: none;
  box-shadow: 2px 2px 010101;
  margin: 20px auto;
}
/* line 653, ../scss/style.scss */
fieldset label {
  color: #ff6b6b;
}

/* line 660, ../scss/style.scss */
footer {
  background-color: #55626f;
  padding: 6%;
  padding-bottom: 10px;
  color: white;
  line-height: 1.8em;
  font-size: .8em;
}
/* line 667, ../scss/style.scss */
footer ul {
  padding-left: 0;
  text-align: left;
  margin-top: 0;
}
/* line 671, ../scss/style.scss */
footer ul li {
  margin: 5px;
}
/* line 676, ../scss/style.scss */
footer .left {
  font-size: .8em;
}
/* line 679, ../scss/style.scss */
footer .left p {
  font-weight: bolder;
  font-size: 1.5em;
  margin-bottom: 5px;
  margin-top: 0;
}
/* line 685, ../scss/style.scss */
footer .left a {
  text-decoration: underline;
}
/* line 690, ../scss/style.scss */
footer .address {
  font-size: 1em;
  margin-top: 40px;
}
/* line 701, ../scss/style.scss */
footer .right {
  font-weight: bolder;
  font-size: 1.2em;
  line-height: 2em;
  text-decoration: underline;
  margin-top: 0;
}
/* line 707, ../scss/style.scss */
footer .right li {
  text-align: left;
  margin-right: 10px;
}
/* line 720, ../scss/style.scss */
footer .twitter_link {
  padding-top: 10px;
  width: 30px;
  height: 30px;
  background-image: url(../img/twitter.svg);
  background-size: 30px auto;
  background-position: center top;
  display: block;
  padding: 0;
}
/* line 732, ../scss/style.scss */
footer .twitter_link:hover {
  background-position: center -30px;
}
/* line 736, ../scss/style.scss */
footer .facebook_link {
  padding-top: 10px;
  width: 30px;
  height: 30px;
  background-image: url(../img/facebook.svg);
  background-size: 30px auto;
  background-position: center top;
  display: block;
  padding: 0;
}
/* line 748, ../scss/style.scss */
footer .facebook_link:hover {
  background-position: center -30px;
}

@media screen and (min-width: 700px) {
  /* line 760, ../scss/style.scss */
  header {
    margin-bottom: 40px;
  }

  /* line 763, ../scss/style.scss */
  .navigation .mobile_nav_button {
    display: none;
  }

  /* line 766, ../scss/style.scss */
  header {
    width: 90%;
    margin: 0 auto;
  }
  /* line 770, ../scss/style.scss */
  header .logo {
    float: left;
    width: 33%;
    padding-top: 5px;
  }
  /* line 776, ../scss/style.scss */
  header .header_search {
    float: right;
    margin: 40px auto 20px auto;
  }
  /* line 781, ../scss/style.scss */
  header .add {
    float: right;
    width: 20%;
  }

  /* line 790, ../scss/style.scss */
  .navigation {
    background: none;
    margin-top: 0;
    padding: 0;
    border: 1px solid #55626f;
  }
  /* line 797, ../scss/style.scss */
  .navigation li {
    background: none;
    display: inline-block;
    border-left: 1px solid #55626f;
    border-bottom: none;
    width: 16%;
  }
  /* line 803, ../scss/style.scss */
  .navigation li:first-child {
    border-left: none;
  }
  /* line 806, ../scss/style.scss */
  .navigation li:last-child {
    border-left: none;
  }
  /* line 811, ../scss/style.scss */
  .navigation a {
    background-color: white;
    color: #55626f;
    padding: 2%;
    margin-bottom: 0;
    text-decoration: none;
  }
  /* line 820, ../scss/style.scss */
  .navigation a:hover {
    color: #4ecdc4;
  }
  /* line 824, ../scss/style.scss */
  .navigation .add {
    background-color: #c7f464;
    border-radius: 3px;
    border: 1px solid #97b751;
  }
  /* line 828, ../scss/style.scss */
  .navigation .add:hover {
    background-color: #97b751;
    color: white;
  }

  /* line 837, ../scss/style.scss */
  footer {
    display: block;
  }
  /* line 839, ../scss/style.scss */
  footer .left {
    float: left;
    width: 30%;
    margin-right: 8%;
  }
  /* line 844, ../scss/style.scss */
  footer .address {
    float: left;
    margin-top: 0;
    width: 35%;
  }
  /* line 852, ../scss/style.scss */
  footer .right ul {
    margin-top: 5px;
    float: left;
    width: 20%;
  }
  /* line 857, ../scss/style.scss */
  footer .right li {
    text-align: right;
  }
  /* line 860, ../scss/style.scss */
  footer .right .social_media li {
    float: right;
    width: 30%;
    float: right;
  }

  /* line 867, ../scss/style.scss */
  .twitter_link {
    float: right;
  }

  /* line 870, ../scss/style.scss */
  .facebook_link {
    float: right;
    margin-right: 20px;
  }

  /* line 876, ../scss/style.scss */
  .about_us {
    margin-bottom: 30px;
  }

  /* line 880, ../scss/style.scss */
  .pullout_quotation {
    margin-bottom: 40px;
    font-size: 1.1em;
  }
  /* line 883, ../scss/style.scss */
  .pullout_quotation h3 {
    margin-bottom: 5px;
  }
  /* line 886, ../scss/style.scss */
  .pullout_quotation p {
    margin-top: 5px;
  }

  /* line 891, ../scss/style.scss */
  .about_us_text h2 {
    font-size: 2em;
    line-spacing: 1em;
    margin-bottom: 10px;
    margin-bottom: 40px;
  }
  /* line 897, ../scss/style.scss */
  .about_us_text h3 {
    margin-top: 0;
  }
  /* line 901, ../scss/style.scss */
  .about_us_text .about_us_image {
    display: block;
    float: right;
    width: 45%;
    margin-left: 3%;
  }

  /* line 911, ../scss/style.scss */
  .important_links {
    display: block;
  }
  /* line 914, ../scss/style.scss */
  .important_links .links {
    float: right;
    width: 48%;
    margin-top: 0;
  }
  /* line 918, ../scss/style.scss */
  .important_links .links a {
    margin: 0px auto 20px auto;
  }
  /* line 924, ../scss/style.scss */
  .important_links .definitions {
    float: left;
    width: 48%;
  }
  /* line 927, ../scss/style.scss */
  .important_links .definitions p {
    color: white;
    line-height: 1.5em;
  }
  /* line 930, ../scss/style.scss */
  .important_links .definitions p:first-child {
    margin-top: 0;
  }

  /* line 937, ../scss/style.scss */
  .secondary_links {
    background: #f1f1f1;
    padding: 4%;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  /* line 943, ../scss/style.scss */
  .secondary_links .navigation_large {
    float: left;
    width: 48%;
  }
  /* line 948, ../scss/style.scss */
  .secondary_links .navigation_large li {
    margin-bottom: 8px;
    border: none;
  }
  /* line 952, ../scss/style.scss */
  .secondary_links .navigation_large a {
    background: #4ecdc4;
    padding: 7%;
    color: white;
    display: block;
    border-radius: 3px;
  }
  /* line 962, ../scss/style.scss */
  .secondary_links .second_nav_image {
    float: right;
    width: 48%;
    display: block;
  }

  /* line 970, ../scss/style.scss */
  .stay_informed {
    float: left;
    width: 40%;
  }

  /* line 975, ../scss/style.scss */
  .resources_index {
    background: #f1f1f1;
    padding: 4%;
    border-radius: 3px;
    float: left;
    width: 41%;
    margin-right: 2%;
  }
  /* line 984, ../scss/style.scss */
  .resources_index h3 {
    margin-top: 0;
  }
  /* line 990, ../scss/style.scss */
  .resources_index .resources_links li {
    border: none;
    margin-bottom: 8px;
  }
  /* line 994, ../scss/style.scss */
  .resources_index .resources_links a {
    display: block;
    background: #4ecdc4;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
  }

  /* line 1005, ../scss/style.scss */
  .headlines {
    width: 48%;
    float: right;
  }
  /* line 1008, ../scss/style.scss */
  .headlines h3 {
    margin-top: 0;
  }

  /* line 1015, ../scss/style.scss */
  .fathersandfamilies h2 {
    text-align: left;
  }

  /* line 1020, ../scss/style.scss */
  .main_content {
    background: #f1f1f1;
    padding: 3%;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* line 1028, ../scss/style.scss */
  .main_content h3 {
    border-bottom: none;
  }
  /* line 1032, ../scss/style.scss */
  .main_content img {
    display: block;
    float: right;
    width: 35%;
    margin-left: 3%;
    margin-bottom: 10px;
  }

  /* line 1044, ../scss/style.scss */
  .resource_links a:hover {
    color: #4ecdc4;
  }
  /* line 1047, ../scss/style.scss */
  .resource_links .resource_tablet {
    padding: 0;
    margin-right: 8%;
  }
  /* line 1052, ../scss/style.scss */
  .resource_links .resource_tablet:last-child {
    margin-right: 0;
  }

  /* line 1058, ../scss/style.scss */
  .frequently_used_links {
    margin-top: 35px;
  }
  /* line 1062, ../scss/style.scss */
  .frequently_used_links .links {
    display: block;
    width: 48%;
  }

  /* line 1073, ../scss/style.scss */
  .fatherhood_programs img {
    display: block;
    float: right;
    margin-left: 4%;
  }

  /* line 1079, ../scss/style.scss */
  .topics_and_map {
    margin-top: 30px;
  }

  /* line 1083, ../scss/style.scss */
  .topics {
    float: left;
    width: 30%;
  }
  /* line 1087, ../scss/style.scss */
  .topics ul {
    padding-left: 0;
  }

  /* line 1091, ../scss/style.scss */
  .map_image {
    float: right;
    width: 60%;
    margin-top: 20px;
  }
  /* line 1095, ../scss/style.scss */
  .map_image img {
    box-shadow: none;
  }

  /* line 1100, ../scss/style.scss */
  .network {
    margin-top: 30px;
  }

  /* line 1105, ../scss/style.scss */
  .stories_and_resources {
    background: #f1f1f1;
    border-radius: 3px;
  }

  /* line 1111, ../scss/style.scss */
  .success_stories {
    background: #f1f1f1;
    float: left;
    width: 42%;
    margin: 0;
  }
  /* line 1120, ../scss/style.scss */
  .success_stories .success_content h2 {
    margin-top: 0;
  }

  /* line 1126, ../scss/style.scss */
  .fatherhood_programs_resources {
    float: right;
    width: 42%;
    border: none;
  }
  /* line 1133, ../scss/style.scss */
  .fatherhood_programs_resources .resource_links {
    border: none;
    margin-top: 0;
    background: #a8a8ab;
    padding: 3%;
  }
  /* line 1140, ../scss/style.scss */
  .fatherhood_programs_resources .resource_links h2 {
    text-decoration: underline;
    display: block;
  }
  /* line 1146, ../scss/style.scss */
  .fatherhood_programs_resources img {
    display: block;
    float: right;
    margin-bottom: 20px;
  }

  /* line 1153, ../scss/style.scss */
  .find_a_program {
    color: white;
    background-color: #4ecdc4;
  }
  /* line 1156, ../scss/style.scss */
  .find_a_program h3 {
    color: white;
    margin-top: 0;
  }

  /* line 1163, ../scss/style.scss */
  .donate_text h2 {
    margin-top: 0;
  }

  /* line 1168, ../scss/style.scss */
  .donation_box_choice ul {
    margin-bottom: 30px;
  }
  /* line 1172, ../scss/style.scss */
  .donation_box_choice li {
    width: 31%;
  }
  /* line 1176, ../scss/style.scss */
  .donation_box_choice .other {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1000px) {
  /* line 1187, ../scss/style.scss */
  .header_search {
    padding-top: 7px;
  }

  /* line 1190, ../scss/style.scss */
  .add {
    margin-right: 0;
  }

  /* line 1237, ../scss/style.scss */
  .stories_and_resources {
    background: none;
  }

  /* line 1240, ../scss/style.scss */
  .success_stories {
    float: none;
    display: block;
    margin: 0 auto;
    width: 92%;
  }
  /* line 1246, ../scss/style.scss */
  .success_stories .success_content li {
    display: inline-block;
    width: 45%;
  }

  /* line 1252, ../scss/style.scss */
  .resource_links .resource_tablet {
    float: none;
    width: 60%;
  }
  /* line 1257, ../scss/style.scss */
  .resource_links .resource_tablet:last-child {
    margin-right: 0;
  }

  /* line 1263, ../scss/style.scss */
  .welcome_packet, .special_needs {
    float: left;
    width: 50%;
  }

  /* line 1268, ../scss/style.scss */
  .fatherhood_programs_resources {
    float: none;
    display: block;
    padding: 0;
    width: 100%;
    margin-top: 3%;
  }
  /* line 1274, ../scss/style.scss */
  .fatherhood_programs_resources img {
    display: block;
    float: right;
  }

  /* line 1284, ../scss/style.scss */
  .resources_img {
    display: block;
    float: right;
    width: 30%;
  }

  /* line 1293, ../scss/style.scss */
  .donation_box_choice ul {
    margin-left: 3%;
    margin-bottom: 30px;
  }
  /* line 1297, ../scss/style.scss */
  .donation_box_choice li {
    width: 14.66661%;
  }
}
