/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 5, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 8, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 13, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 20, ../scss/style.scss */
body {
  font-family: Lora, serif;
}

/* line 23, ../scss/style.scss */
ul {
  list-style: none;
}

/* line 27, ../scss/style.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 32, ../scss/style.scss */
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/****** begin mobile sizes  generic ******/
/* line 45, ../scss/style.scss */
header .logo {
  display: block;
  width: 50%;
  margin: 15px auto;
}
/* line 51, ../scss/style.scss */
header .header_search {
  display: block;
  line-height: 1.2em;
  float: left;
  width: 20%;
  margin-left: 10%;
  margin-right: 10%;
}
/* line 61, ../scss/style.scss */
header #search {
  -webkit-appearance: none;
  background: white url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 34px 21px;
  padding: 11px 34px 11px 11px;
  height: 12px;
  border-radius: 3px;
  border: 1px solid #999;
  max-width: 200%;
}
/* line 73, ../scss/style.scss */
header .add {
  display: inline-block;
  width: 25%;
  margin-right: 10%;
  border-radius: 3px;
  border: none;
  color: white;
  float: right;
  vertical-align: bottom;
  text-align: center;
  background-color: #bfd255;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBFD255', endColorstr='#FF9ECB2D');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOGViOTJhIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiM3MmFhMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWNiMmQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfd255), color-stop(50%, #8eb92a), color-stop(51%, #72aa00), color-stop(100%, #9ecb2d));
  background-image: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  background-image: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  background-image: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  padding: 10px;
}

/* line 93, ../scss/style.scss */
.wrapper {
  width: 94%;
  margin: 0 auto;
}

/* line 97, ../scss/style.scss */
.navigation {
  background-color: #38566b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF38566B', endColorstr='#FF2C2B4D');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzM4NTY2YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJjMmI0ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #38566b), color-stop(100%, #2c2b4d));
  background-image: -moz-linear-gradient(top, #38566b 5%, #2c2b4d 100%);
  background-image: -webkit-linear-gradient(top, #38566b 5%, #2c2b4d 100%);
  background-image: linear-gradient(to bottom, #38566b 5%, #2c2b4d 100%);
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}
/* line 109, ../scss/style.scss */
.navigation ul {
  padding-left: 0;
}
/* line 115, ../scss/style.scss */
.navigation a {
  padding: 5%;
  display: block;
  margin-bottom: 5px;
}

/* line 126, ../scss/style.scss */
.first_paragraph {
  color: white;
  border-radius: 3px;
  background: #2c2b4d;
  padding: 4%;
  margin-top: 20px;
  line-height: 1.8em;
}
/* line 133, ../scss/style.scss */
.first_paragraph .about_us_image {
  display: none;
}

/* line 139, ../scss/style.scss */
.pullout_quotation {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  padding: 8%;
  background: #acadaf url(../img/open_quotation.svg);
  background-repeat: no-repeat;
  background-position: 0px 29px;
  background-size: 54px 46px;
  border-radius: 3px;
}

/* line 151, ../scss/style.scss */
.important_links {
  background: #2c2b4d;
  padding: 5%;
  margin-bottom: 20px;
  border-radius: 3px;
}
/* line 157, ../scss/style.scss */
.important_links a {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: #8fc400;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF8FC400', endColorstr='#FF398900');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmYzQwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM5ODkwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fc400), color-stop(100%, #398900));
  background-image: -moz-linear-gradient(top, #8fc400 0%, #398900 100%);
  background-image: -webkit-linear-gradient(top, #8fc400 0%, #398900 100%);
  background-image: linear-gradient(to bottom, #8fc400 0%, #398900 100%);
}
/* line 170, ../scss/style.scss */
.important_links a:first-child {
  margin-bottom: 15px;
}

/* line 177, ../scss/style.scss */
.secondary_links ul {
  padding-left: 0;
  margin-top: 0;
}
/* line 181, ../scss/style.scss */
.secondary_links li {
  margin-top: 0px;
  text-align: center;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/* line 189, ../scss/style.scss */
.secondary_links li:first-child {
  border-radius: 3px 3px 0px 0px;
  border: 1px solid black;
}
/* line 195, ../scss/style.scss */
.secondary_links li:last-child {
  border-radius: 0px 0px 3px 3px;
}
/* line 198, ../scss/style.scss */
.secondary_links a {
  color: black;
  padding: 20px 50px;
  display: block;
}

/* line 206, ../scss/style.scss */
.second_nav_image {
  display: none;
}

/* line 210, ../scss/style.scss */
.stay_informed {
  background-color: #2c2b4d;
  color: white;
  padding: 2% 4% 8% 4%;
  border-radius: 3px;
}
/* line 215, ../scss/style.scss */
.stay_informed input {
  color: black;
  margin: 0 auto;
  width: 80%;
}

/* line 224, ../scss/style.scss */
.resources ul {
  padding-left: 0;
  margin-top: 0;
}
/* line 228, ../scss/style.scss */
.resources li {
  margin-top: 0px;
  text-align: center;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/* line 236, ../scss/style.scss */
.resources li:first-child {
  border-radius: 3px 3px 0px 0px;
  border: 1px solid black;
}
/* line 242, ../scss/style.scss */
.resources li:last-child {
  border-radius: 0px 0px 3px 3px;
}
/* line 245, ../scss/style.scss */
.resources a {
  color: black;
  padding: 20px 50px;
  display: block;
}

/* line 254, ../scss/style.scss */
.headlines {
  margin-bottom: 40px;
}
/* line 256, ../scss/style.scss */
.headlines ul {
  padding-left: 0;
}
/* line 260, ../scss/style.scss */
.headlines h3 {
  border-bottom: 2px solid black;
  font-weight: bolder;
}
/* line 264, ../scss/style.scss */
.headlines h5 {
  font-weight: bolder;
  font-size: 1em;
}
/* line 268, ../scss/style.scss */
.headlines p {
  margin-left: 3%;
  font-weight: bolder;
}
/* line 273, ../scss/style.scss */
.headlines a {
  color: #00aeef;
  margin-left: 3%;
  text-decoration: underline;
}

/* line 282, ../scss/style.scss */
.main_content h3 {
  border-bottom: 2px solid black;
}
/* line 285, ../scss/style.scss */
.main_content img {
  display: none;
}

/* line 289, ../scss/style.scss */
.fathersandfamiliesresources {
  background-color: #e6e7e8;
  padding: 4%;
  border-radius: 3px;
}
/* line 293, ../scss/style.scss */
.fathersandfamiliesresources h2 {
  border-bottom: 2px solid black;
}
/* line 296, ../scss/style.scss */
.fathersandfamiliesresources ul {
  padding-left: 0;
}
/* line 299, ../scss/style.scss */
.fathersandfamiliesresources li {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  text-align: center;
}

/* line 309, ../scss/style.scss */
.trophy {
  display: none;
}

/* line 313, ../scss/style.scss */
.topics {
  background-color: #e6e7e8;
  border-radius: 3px;
  padding: 4%;
  margin: 30px auto;
}
/* line 318, ../scss/style.scss */
.topics h3 {
  border-bottom: 2px solid black;
}
/* line 321, ../scss/style.scss */
.topics ul {
  margin: 0 auto;
  line-height: 1.8em;
}

/* line 326, ../scss/style.scss */
.success_stories {
  background-color: #e6e7e8;
  border-radius: 3px;
  padding: 4%;
  color: black;
}
/* line 331, ../scss/style.scss */
.success_stories img {
  display: none;
}
/* line 334, ../scss/style.scss */
.success_stories h2 {
  border-bottom: 2px solid black;
}
/* line 337, ../scss/style.scss */
.success_stories ul {
  padding-left: 0;
}
/* line 340, ../scss/style.scss */
.success_stories a {
  color: black;
  text-decoration: underline;
}

/* line 345, ../scss/style.scss */
.resource_links {
  margin-top: 40px;
  border: 2px solid black;
  border-radius: 3px;
  padding: 4%;
}
/* line 350, ../scss/style.scss */
.resource_links h2 {
  margin-top: 0;
}
/* line 353, ../scss/style.scss */
.resource_links a {
  color: #2c2b4d;
  text-decoration: underline;
}

/* line 362, ../scss/style.scss */
.fatherhood_programs_resources img {
  display: none;
}

/* line 368, ../scss/style.scss */
.find_a_program {
  background-color: #e6e7e8;
  border-radius: 3px;
  padding: 4%;
  margin-top: 40px;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}
/* line 377, ../scss/style.scss */
.find_a_program .search_box {
  color: black;
}
/* line 382, ../scss/style.scss */
.find_a_program select {
  width: 80%;
  margin: 0 auto;
}

/* line 387, ../scss/style.scss */
.frequently_used_links {
  margin-bottom: 20px;
}

/* line 392, ../scss/style.scss */
.links {
  float: left;
  width: 32%;
  margin: 10px auto;
  margin-right: 2%;
}
/* line 399, ../scss/style.scss */
.links:last-child {
  margin-right: 0;
}
/* line 403, ../scss/style.scss */
.links a {
  display: block;
  border-radius: 3px;
  padding: 20px 5%;
  text-align: center;
  font-size: 0.9em;
  color: white;
  background-color: #588680;
}

/* line 415, ../scss/style.scss */
.fatherhood_programs_resources img {
  display: none;
}

/* line 421, ../scss/style.scss */
.donation_box_choice ul {
  padding-left: 0;
}
/* line 426, ../scss/style.scss */
.donation_box_choice li .other {
  color: white;
  background-color: #bfd255;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBFD255', endColorstr='#FF9ECB2D');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOGViOTJhIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiM3MmFhMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWNiMmQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfd255), color-stop(50%, #8eb92a), color-stop(51%, #72aa00), color-stop(100%, #9ecb2d));
  background-image: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  background-image: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  background-image: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  display: block;
  text-align: center;
  padding: 8%;
  margin-bottom: 8px;
  font-weight: bolder;
  font-size: 1.2em;
}
/* line 440, ../scss/style.scss */
.donation_box_choice li .other input {
  color: black;
  margin: 0 auto;
  width: 75%;
}
/* line 456, ../scss/style.scss */
.donation_box_choice a {
  color: white;
  background-color: #bfd255;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBFD255', endColorstr='#FF9ECB2D');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOGViOTJhIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiM3MmFhMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWNiMmQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfd255), color-stop(50%, #8eb92a), color-stop(51%, #72aa00), color-stop(100%, #9ecb2d));
  background-image: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  background-image: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  background-image: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  display: block;
  text-align: center;
  padding: 8%;
  margin-bottom: 8px;
  font-weight: bolder;
  font-size: 1.2em;
}

/* line 472, ../scss/style.scss */
.container {
  line-height: 2em;
}
/* line 474, ../scss/style.scss */
.container input {
  width: 90%;
  margin: 0 auto;
}

/* line 479, ../scss/style.scss */
.btn {
  background-color: #588680;
  padding: 5%;
  color: white;
  font-weight: bolder;
  border-radius: 3px;
  border: none;
  -webkit-appearance: none;
}

/* line 488, ../scss/style.scss */
.donate_content {
  background: #f1f1f1;
  padding: 4%;
  border-radius: 3px;
  margin: 30px auto;
}

/* line 497, ../scss/style.scss */
footer {
  background-color: #2c2b4d;
  padding: 6%;
  padding-bottom: 20%;
  color: white;
  line-height: 1.8em;
}
/* line 503, ../scss/style.scss */
footer ul {
  padding-left: 0;
}
/* line 506, ../scss/style.scss */
footer .left {
  font-size: .8em;
}
/* line 510, ../scss/style.scss */
footer .address {
  font-size: 1em;
  margin-top: 40px;
}
/* line 514, ../scss/style.scss */
footer .social_media li {
  float: left;
  width: 10%;
  margin-right: 7%;
}
/* line 519, ../scss/style.scss */
footer .right {
  font-weight: bolder;
  font-size: 1.2em;
  line-height: 2em;
  text-decoration: underline;
}

@media screen and (min-width: 700px) {
  /* line 533, ../scss/style.scss */
  header {
    margin-bottom: 40px;
  }

  /* line 536, ../scss/style.scss */
  .navigation .mobile_nav_button {
    display: none;
  }

  /* line 539, ../scss/style.scss */
  header {
    width: 90%;
    margin: 0 auto;
  }
  /* line 543, ../scss/style.scss */
  header .logo {
    float: left;
    width: 30%;
    max-height: 30px;
    padding-top: 5px;
  }
  /* line 549, ../scss/style.scss */
  header .header_search {
    width: 20%;
    margin: 0;
    padding-top: 61px;
    margin-left: 10%;
  }
  /* line 556, ../scss/style.scss */
  header .add {
    float: right;
    width: 20%;
    margin-top: 59px;
    margin-right: 0;
  }

  /* line 565, ../scss/style.scss */
  .navigation {
    background: none;
  }
  /* line 568, ../scss/style.scss */
  .navigation li {
    background: none;
    display: inline-block;
    border-right: 1px solid black;
    border-bottom: none;
    width: 16%;
  }
  /* line 574, ../scss/style.scss */
  .navigation li:last-child {
    border-right: none;
  }
  /* line 579, ../scss/style.scss */
  .navigation a {
    background-color: white;
    color: black;
    padding: 2%;
  }

  /* line 586, ../scss/style.scss */
  footer {
    display: block;
  }
  /* line 588, ../scss/style.scss */
  footer .left {
    float: left;
    width: 30%;
    margin-right: 8%;
  }
  /* line 593, ../scss/style.scss */
  footer .address {
    float: left;
    margin-top: 0;
    width: 35%;
  }
  /* line 598, ../scss/style.scss */
  footer .right {
    float: right;
    width: 20%;
    text-align: right;
  }
  /* line 602, ../scss/style.scss */
  footer .right ul {
    margin-top: 5px;
  }
  /* line 605, ../scss/style.scss */
  footer .right .social_media li {
    text-align: right;
    width: 30%;
    float: right;
  }

  /* line 617, ../scss/style.scss */
  .about_us_text .about_us_image {
    display: block;
    float: right;
    width: 45%;
    margin-left: 3%;
  }

  /* line 627, ../scss/style.scss */
  .pullout_quotation {
    background: white url(../img/open_quotation.svg);
    background-repeat: no-repeat;
    background-position: 0px 29px;
    background-size: 54px 46px;
    color: black;
    font-size: 1.5em;
    font-style: italic;
    font-weight: light;
  }

  /* line 638, ../scss/style.scss */
  .important_links {
    display: block;
  }
  /* line 640, ../scss/style.scss */
  .important_links a {
    display: inline-block;
    width: 43%;
    margin: 10px auto;
  }

  /* line 646, ../scss/style.scss */
  .secondary_links {
    background: #f1f1f1;
    padding: 4%;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  /* line 652, ../scss/style.scss */
  .secondary_links .navigation_large {
    float: left;
    width: 48%;
  }
  /* line 655, ../scss/style.scss */
  .secondary_links .navigation_large li {
    margin-bottom: 8px;
    border: none;
  }
  /* line 659, ../scss/style.scss */
  .secondary_links .navigation_large a {
    background: #588680;
    padding: 7%;
    color: white;
    display: block;
    border-radius: 3px;
  }
  /* line 669, ../scss/style.scss */
  .secondary_links .second_nav_image {
    float: right;
    width: 48%;
    display: block;
  }

  /* line 675, ../scss/style.scss */
  .stay_informed {
    margin-bottom: 20px;
  }

  /* line 678, ../scss/style.scss */
  .resources_index {
    background: #f1f1f1;
    padding: 4%;
    border-radius: 3px;
    float: left;
    width: 41%;
    margin-right: 2%;
  }
  /* line 686, ../scss/style.scss */
  .resources_index h3 {
    margin-top: 0;
  }
  /* line 690, ../scss/style.scss */
  .resources_index .resources_links li {
    border: none;
    margin-bottom: 8px;
  }
  /* line 694, ../scss/style.scss */
  .resources_index .resources_links a {
    display: block;
    background: #588680;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
  }

  /* line 704, ../scss/style.scss */
  .headlines {
    width: 48%;
    float: right;
  }

  /* line 709, ../scss/style.scss */
  .main_content {
    background: #f1f1f1;
    padding: 3%;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* line 716, ../scss/style.scss */
  .main_content h3 {
    border-bottom: none;
  }
  /* line 719, ../scss/style.scss */
  .main_content img {
    display: block;
    float: right;
    width: 30%;
    margin-left: 3%;
    margin-bottom: 10px;
  }

  /* line 728, ../scss/style.scss */
  .fatherhood_programs_resources {
    padding: 3%;
    border: none;
  }

  /* line 735, ../scss/style.scss */
  .resource_links .resource_tablet {
    padding: 4%;
    margin-right: 8%;
  }
  /* line 740, ../scss/style.scss */
  .resource_links .resource_tablet:last-child {
    margin-right: 0;
  }

  /* line 748, ../scss/style.scss */
  .fatherhood_programs_resources img {
    display: none;
  }

  /* line 752, ../scss/style.scss */
  .frequently_used_links {
    margin-top: 35px;
  }
  /* line 755, ../scss/style.scss */
  .frequently_used_links .links {
    display: block;
  }

  /* line 761, ../scss/style.scss */
  .fatherhood_programs img {
    display: block;
    float: right;
    margin-left: 4%;
  }

  /* line 767, ../scss/style.scss */
  .topics_and_map {
    margin-top: 30px;
  }

  /* line 770, ../scss/style.scss */
  .topics {
    float: left;
    width: 30%;
  }
  /* line 774, ../scss/style.scss */
  .topics ul {
    padding-left: 0;
  }

  /* line 778, ../scss/style.scss */
  .map_image {
    float: right;
    width: 60%;
  }

  /* line 782, ../scss/style.scss */
  .network {
    margin-top: 30px;
  }

  /* line 785, ../scss/style.scss */
  .stories_and_resources {
    background: #f1f1f1;
    border-radius: 3px;
  }

  /* line 789, ../scss/style.scss */
  .success_stories {
    background: #f1f1f1;
    float: left;
    width: 42%;
  }
  /* line 794, ../scss/style.scss */
  .success_stories .success_content h2 {
    margin-top: 0;
  }

  /* line 799, ../scss/style.scss */
  .fatherhood_programs_resources {
    padding: 3%;
    float: right;
    width: 42%;
    border: none;
  }
  /* line 805, ../scss/style.scss */
  .fatherhood_programs_resources .resource_links {
    border: none;
    margin-top: 0;
    background: #a8a8ab;
    padding: 3%;
  }
  /* line 810, ../scss/style.scss */
  .fatherhood_programs_resources .resource_links h2 {
    text-decoration: underline;
    display: block;
  }

  /* line 817, ../scss/style.scss */
  .fatherhood_programs_resources img {
    display: block;
    float: right;
  }
  /* line 824, ../scss/style.scss */
  .fatherhood_programs_resources .find_a_program {
    color: white;
    background-color: #2d2d4d;
  }
  /* line 827, ../scss/style.scss */
  .fatherhood_programs_resources .find_a_program h3 {
    color: white;
    margin-top: 0;
  }
  /* line 834, ../scss/style.scss */
  .fatherhood_programs_resources .donate_text h2 {
    margin-top: 0;
  }
  /* line 839, ../scss/style.scss */
  .fatherhood_programs_resources .donation_box_choice ul {
    margin-bottom: 30px;
  }
  /* line 841, ../scss/style.scss */
  .fatherhood_programs_resources .donation_box_choice ul li {
    display: inline-block;
    width: 30%;
  }
  /* line 848, ../scss/style.scss */
  .fatherhood_programs_resources .donation_box_choice li .other {
    color: white;
    background-color: #bfd255;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBFD255', endColorstr='#FF9ECB2D');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOGViOTJhIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiM3MmFhMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWNiMmQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfd255), color-stop(50%, #8eb92a), color-stop(51%, #72aa00), color-stop(100%, #9ecb2d));
    background-image: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    background-image: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    background-image: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    display: block;
    text-align: center;
    padding: 4.3%;
    margin-bottom: 8px;
    font-weight: bolder;
    font-size: 1.2em;
    float: left;
    width: 22.6%;
  }
  /* line 865, ../scss/style.scss */
  .fatherhood_programs_resources .donation_box_choice li .other form {
    font-weight: regular;
    font-size: .8em;
  }
  /* line 868, ../scss/style.scss */
  .fatherhood_programs_resources .donation_box_choice li .other form input {
    margin: 0 auto;
    width: 50%;
  }
  /* line 873, ../scss/style.scss */
  .fatherhood_programs_resources .donation_box_choice li .other form p {
    font-size: .8em;
    font-weight: regular;
    text-align: left;
  }
  /* line 882, ../scss/style.scss */
  .fatherhood_programs_resources .donation_box_choice a {
    margin-right: 2%;
    display: inline-block;
    float: left;
    width: 15%;
  }
}
@media screen and (min-width: 700px) and (min-width: 1000px) {
  /* line 898, ../scss/style.scss */
  .header_search {
    width: 20%;
    margin: 0;
    padding-top: 84px;
    margin-left: 20%;
  }

  /* line 904, ../scss/style.scss */
  .add {
    float: right;
    width: 20%;
    margin-top: 81px;
    margin-right: 0;
  }

  /* line 913, ../scss/style.scss */
  .pullout_quotation {
    background: white url(../img/open_quotation.svg);
    background-repeat: no-repeat;
    background-position: 22px 80px;
    background-size: 54px 46px;
    color: black;
    font-size: 1.5em;
    font-style: italic;
    font-weight: light;
  }

  /* line 925, ../scss/style.scss */
  .stay_informed {
    padding: 5%;
  }
  /* line 927, ../scss/style.scss */
  .stay_informed p {
    display: block;
    float: left;
    width: 50%;
    margin-right: 5%;
    margin-top: 0;
  }
  /* line 935, ../scss/style.scss */
  .stay_informed .email_input {
    display: block;
    float: right;
    width: 45%;
  }

  /* line 942, ../scss/style.scss */
  .important_links a {
    width: 39%;
    margin-right: 12%;
  }
  /* line 945, ../scss/style.scss */
  .important_links a:last-child {
    margin-right: 0;
  }

  /* line 952, ../scss/style.scss */
  .stories_and_resources {
    background: none;
  }

  /* line 955, ../scss/style.scss */
  .success_stories {
    float: none;
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  /* line 960, ../scss/style.scss */
  .success_stories .success_content li {
    display: inline-block;
    width: 45%;
  }

  /* line 966, ../scss/style.scss */
  .resource_links .resource_tablet {
    float: none;
    width: 60%;
  }
  /* line 971, ../scss/style.scss */
  .resource_links .resource_tablet:last-child {
    margin-right: 0;
  }

  /* line 978, ../scss/style.scss */
  .welcome_packet, .special_needs {
    float: left;
    width: 50%;
  }

  /* line 986, ../scss/style.scss */
  .fatherhood_programs_resources {
    float: none;
    display: block;
    width: 90%;
  }
  /* line 990, ../scss/style.scss */
  .fatherhood_programs_resources img {
    display: block;
    float: right;
  }

  /* line 1000, ../scss/style.scss */
  .resources_img {
    display: block;
    float: right;
    width: 30%;
  }

  /* line 1009, ../scss/style.scss */
  .donation_box_choice ul {
    margin-left: 3%;
    margin-bottom: 30px;
  }
  /* line 1014, ../scss/style.scss */
  .donation_box_choice li .other {
    color: white;
    background-color: #bfd255;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBFD255', endColorstr='#FF9ECB2D');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOGViOTJhIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiM3MmFhMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWNiMmQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfd255), color-stop(50%, #8eb92a), color-stop(51%, #72aa00), color-stop(100%, #9ecb2d));
    background-image: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    background-image: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    background-image: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    display: block;
    text-align: center;
    padding: 1.45%;
    margin-bottom: 8px;
    font-weight: bolder;
    font-size: 1.2em;
    float: left;
    width: 10%;
  }
  /* line 1031, ../scss/style.scss */
  .donation_box_choice li .other form {
    font-weight: regular;
    font-size: .8em;
  }
  /* line 1034, ../scss/style.scss */
  .donation_box_choice li .other form input {
    margin: 0 auto;
    width: 80%;
  }
  /* line 1039, ../scss/style.scss */
  .donation_box_choice li .other form p {
    font-size: .8em;
    font-weight: regular;
    text-align: left;
  }
  /* line 1047, ../scss/style.scss */
  .donation_box_choice a {
    margin-right: 2%;
    display: block;
    float: left;
    width: 7%;
    padding: 4%;
  }
  /* line 1060, ../scss/style.scss */
  .donation_box_choice .donate_content p:last-child {
    font-weight: bolder;
    font-size: 1.2em;
  }
}
